.initiativeRoll span {
	display: inline-block;
	margin-right: 5px;
}

.initiativeRoll form {
	display: inline-block;
}

#addRollForm {
	margin-top: 25px;
}

.delayButton {
	margin-top: 25px;
}